body{
    background-image: url(https://www.publicdomainpictures.net/pictures/310000/velka/hintergrund-ornament-bunt-muster-15749386656Jr.jpg);
     font-family: Forte;
     font-size: xx-large;
     color: black;
     text-align:center;
   }


h2 {
    font-size: larger;
}


#f1 {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: rgb(117, 6, 103);
    font-size: 35px;
    transition: 0.2s;
    width: 500px;
    text-align: left;
    color: whitesmoke;
}

#f2 {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: rgb(117, 6, 103);
  font-size: 35px;
  transition: 0.2s;
  width: 500px;
  text-align: left;
  color: whitesmoke;
}

#f3 {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: rgb(117, 6, 103);
  font-size: 35px;
  transition: 0.2s;
  width: 500px;
  text-align: left;
  color: whitesmoke;
}

li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: rgb(117, 6, 103);
    font-size: 35px;
    transition: 0.2s;
    width: 500px;
    text-align: left;
    color: whitesmoke;
}

#myInput {
    position: relative;
    margin-top: 0px;
    height: 30px;
    width: 500px;
}

.addButton {
    position: absolute;
    padding: 7px;
    margin-top: 10px;
    width: 50px;
    height: 35px;
    background: rgb(117, 6, 103);
    color: white;
    float: left;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: rgb(117, 6, 103);

  }

  .fa-trash-alt {
      color: whitesmoke;
      font-size: 25px;
      margin-left: 470px;
  }
  