head img{
  top: 0px;
  margin-left: 480px;
  margin-right: 480px;
  
  }
  
  header p{
  
  color:#006680;
  font-size: xx-large;
  font-family: sans-serif;
  
  }



ul {
  list-style-type: none;
  margin-top: 300;
  margin-left: 950px;
  top:0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: absolute;
  border-radius: 5px;
  

}

li {
  float: left;
  
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: white;
}

li a:hover {
  background-color: red;
}

main p {

  color:#006680;
  font-size: xx-large;
}

{
  background-color: #f60;
  } 

}

li a {

  text-decoration: none;
  color: aliceblue;
}


div {
    width: 800px;
    padding: 40px;
    margin: 30px;
    right: 500px;
   
  }
