ul {
    list-style-type: none;
    margin: 0;
    margin-left: 850px;
    top:0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    border-radius: 5px;
    
  
  }
  
  li {
    float: left;
    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: red;
  }
  
  {
    background-color: #f60;
    } 
  
  }
  
  li a {
  
    text-decoration: none;
    color: aliceblue;
  }

}

.title{
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding-bottom: 10px;
  font-size: 42px;
  color: white;
}

.name { 
  background-color: lightgrey;
  border-bottom: 5px solid white;
  color: white;
  width:300px;
}




.email {
  background-color: lightgrey;  
  border-bottom: 5px solid lightgrey;
  height:50px;
  width:300px;
  
}

.message {   
  background-color: lightgrey;
  border-bottom: 5px solid lightgrey;
  overflow: hidden;
  height: 100px;  
  width:300px;
}




.submit{
  border-radius:5px;
  padding:10px;
  background-color: #2DD7BB;  
  border: none;
  border-bottom: 5px solid lightgrey; 
  transform: translateY(-120px); 

}



.entry{
  display: block;
  margin: 30px auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease 0s;
}

.submit{
  border-radius:5px;
  padding:10px;
  width:150px;
  color: white;
  background-color: lightgrey;  
  border: none;
  border-bottom: 5px solid lightgrey; 
  margin-top: 150px; 

}

  
