

h1 {
    color: black;
}

.stationen {
    text-decoration: none;
    color: yellow;
    font-size: 14px;
    padding: 10px 25px;
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: black;
    border-radius: 15px;
}
